// Define variables for your color scheme

// For example:
$red: #ad1d1d;
$blue: #141451;
$yellow: #e5de09;
$orange: #f2a409;
$green: #0eba45;
$gray: #4a474c;
$light-gray: #b6b0ba;
$monday-fever: #cc3f9a;
